%intro-text {
  .intro-text {
    $intro-text-width: 60%;

    @include clearfix;
    padding: 1em 1em 2.5em;
    text-align: center;

    h2 {
      margin-top: 1.25em;
      color: $purps;
      font-family: $sans-serif;
      font-weight: 700;
      margin-bottom: .1em;

      @include media($large-screen) {
        font-size: 3em;
        margin-bottom: .1em;
      }
    }

    h3 {
      margin-top: .25em;
      color: $goldenrod;
      font-family: $sans-serif;
      font-weight: 700;
      margin-bottom: .3em;

      @include media($large-screen) {
        font-size: 2.25em;
        margin-bottom: .4em;
      }
    }

    h4 {
      margin-top: .25em;
      color: lighten($base-font-color, 20);
      font-size: 1.3em;
      font-weight: 300;
      line-height: 1.4em;
      margin: 0 auto 1em;

      @include media($large-screen) {
        font-size: 1.7em;
        line-height: 1.35em;
        margin: 0 auto 1em;
        width: $intro-text-width;
      }    
    }

    h5 {
      margin-top: 1em;
      padding-top: 1em;
      color: desaturate($logo-green, 10);
      font-weight: 500;
      margin-bottom: .3em;

      @include media($large-screen) {
        font-size: 2em;
        margin-bottom: .4em;
      }
    }

    p {
      margin: auto;

      @include media($large-screen) {
        width: $intro-text-width;
      }

      a {
        font-size: .9em;
        font-weight: 400;

        span {
          font-size: 1.3em;
          line-height: 0;
        }
      }
    }
  }
}