<div class="sectionhead">
  <div id="agendaimg"></div>
</div>
<section class="agenda">
<a href="#agenda" class="anchor" id="agenda"></a>
  <div class="intro-text">
    <h2>Agenda</h2>
    <h4>Come to Convention 2015 to personally connect with the home of 4Life. Come to visualize where your 4Life journey can take you. This will be a 4Life convention unlike any other! Be empowered to bring dreams to the homes of thousands of people throughout the world.</h4>
  </div>
  <div class="grid-items-lines">
    <a href="javascript:void(0)" class="grid-item">
      <h1>Tuesday, April 14</h1>
      <ul>
        <li>President's Club Social-by invitation only</li>
      </ul>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Wednesday, April 15</h1>
      <ul>
        <li>Registration</li>
        <li>Store open</li>
        <li>4Life Science Symposium, featuring Dr. Chris Lockwood and the HSAB</li>
        <li>Platinum and Gold Social—by invitation only</li>
        <li>Opening Party</li>
      </ul>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Thursday, April 16</h1>
      <ul>
        <li>Registration</li>
        <li>General Session I</li>
        <li>Home Office Tours</li>
        <li>Store open</li>
        <li>Free night for distributor parties</li>
      </ul>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Friday, April 17</h1>
      <ul>
        <li>General Session II—Success Rally and Recognition</li>
        <li>General Session III—Recognition Gala</li>
        <li>Store open</li>
      </ul>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Saturday, April 18</h1>
      <ul>
        <li>General Session IV—Keynote Speaker and Platinum Presentations</li>
        <li>General Session V—Platinum Presentations</li>
        <li>Store open</li>
        <li>Closing Party</li>
      </ul>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Sunday, April 19</h1>
      <ul>
        <li>Rest, enjoy the city, return home.</li>
      </ul>
    </a>
  </div>
  <a href="#recognition" class="anchor" id="recognition"></a>
  <div class="intro-text">
    <h3>Bring Dreams Home Recognition</h3>
    <h4>Recognition is key to your success and there is no better time than convention to recognize and celebrate your rank achievements.</h4>
    <p>Please read through the recognition schedule below to learn when specific rank achievements will be recognized during Convention 2015: Bring Dreams Home.</p>
  </div>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Date</th>
        <th>Time</th>
        <th>Session</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President's Club</td>
        <td>Thursday, April 16</td>
        <td>10:00 am–12:30 pm</td>
        <td>General Session I</td>
      </tr>
      <tr>
        <td>Diamond</td>
        <td>Friday, April 17</td>
        <td>10:00 am–12:00 pm</td>
        <td>General Session II</td>
      </tr>
      <tr>
        <td>Presidential Diamond</td>
        <td>Friday, April 17</td>
        <td>10:00 am–12:00 pm</td>
        <td>General Session II</td>
      </tr>
      <tr>
        <td>International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
      <tr>
        <td>Gold International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
      <tr>
        <td>Platinum International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
    </tbody>
  </table>
  <div class="intro-text">
    <h5>Recognition Information</h5>
    <h4>Location</h4>
      <p>All recognition events will be held in Hall DE</p><br>
    <h4>Attire</h4>
      <p>The attire is business casual for General Session II and formal for General Session III/Recognition Gala</p><br>
    <h4>Seating</h4>
      <p>Distributors with the following ranks will enjoy VIP seating during general sessions and be allowed entry 15 minutes prior to general seating opening:</p><br>
    <ul>
      <li>Platinum International Diamonds—Seating for ten people per distributor account</li>
      <li>Gold International Diamonds—Seating for two people per distributor account</li>
      <li>President’s Club members—Seating based on qualifying rank (Platinum International Diamonds, Gold International Diamonds, and International Diamonds)</li>
    </ul><br>

    <p>For all other general seating, doors will open 30 minutes prior to the scheduled start times.</p>
  </div>
</section>