<div class="sectionhead">
  <div id="agendaimg"></div>
</div>
<section class="agenda">
  <div class="intro-text">
    <h2>Agenda</h2>
    <h4>Come to Convention 2015 to personally connect with the home of 4Life. Come to visualize where your 4Life journey can take you. This will be a 4Life convention unlike any other! Be empowered to bring dreams to the homes of thousands of people throughout the world.</h4>
  </div>
  <div class="grid-items-lines">
  <a href="javascript:void(0)" class="grid-item">
    <h1>Tuesday, April 14</h1>
    <ol>
      <li>President's Club Social-by invitation only</li>
    </ol>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Wednesday, April 15</h1>
    <ol>
      <li>Registration</li>
      <li>Store open</li>
      <li>4Life Science Symposium, featuring Dr. Chris Lockwood and the HSAB</li>
      <li>Platinum and Gold Social—by invitation only</li>
      <li>Opening Party</li>
    </ol>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Thursday, April 16</h1>
    <ol>
      <li>Registration</li>
      <li>General Session I</li>
      <li>Home Office Tours</li>
      <li>Store open</li>
      <li>Free night for distributor parties</li>
    </ol>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Friday, April 17</h1>
    <ol>
      <li>General Session II—Success Rally and Recognition</li>
      <li>General Session III—Recognition Gala</li>
      <li>Store open</li>
    </ol>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Saturday, April 18</h1>
    <ol>
      <li>General Session IV—Keynote Speaker and Platinum Presentations</li>
      <li>General Session V—Platinum Presentations</li>
      <li>Store open</li>
      <li>Closing Party</li>
    </ol>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <h1>Sunday, April 19</h1>
    <ol>
      <li>Rest, enjoy the city, return home.</li>
    </ol>
  </a>
</div>
</section>