<div class="sectionhead">
  <div id="eventsimg"></div>
</div>
<section class="events">
  <div class="intro-text">
    <h2>Events</h2>
    <h5>Keynote Speaker</h5>
    <h4>Here is the name of the keynote speaker.</h4>
  </div>
    <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>4Life Science Symposium Featuring Dr. Chris Lockwood and the HSAB</h2>
        <p>The science symposium and breakout sessions on Wednesday, April 15 will feature in-depth training on new 4Life® products and advancements in Transferceutical® Science.</p>
        <em>Note: These meetings are geared toward medical professionals only.</em>
      </div>
    </li>  
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Home Office Tours</h2>
        <p>Take a tour through 4Life Global Headquarters and see where all of the action takes place, especially the warehouse, lab, and corporate offices! Each tour will take about two hours, including transportation time.</p>
        <p>Tours are being conducted Wednesday, April 15, and Thursday, April 16. Space is limited, so register early! The cost for the tour is $15 USD.</p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Platinum Presentations</h2>
          <p>On Saturday, April 18, 4Life Platinum International Diamonds will take the main stage to share what they’ve learned over the years to define dreams, take action, and lead others on the path to success.</p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Store</h2>
        <p>If you’re looking for the hottest place at Convention 2015, look no further than the 4Life Store! Purchase new products, new tools, and awesome logo items, and get valuable 4Life web and social media training. And don’t forget about the limited-time-only product! Click here to read more.</p>
      </div>
    </li> 
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Translation Services</h2>
        <p>We have a diverse audience with a variety of spoken languages. Translation will be provided at the general sessions, recognition gala, and main workshop venue. These languages will be provided on the basis that 30 or more requests are made for that language. If your translation is not provided, you will be informed at which time you will have the option to cancel your registration for a full refund.</p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Cash and Prizes</h2>
        <p>During Bring Dreams Home, we’ll give away over $100,000 in cash and prizes to lucky distributor winners!</p>
      </div>
    </li>
  </ul>
  <div class="intro-text">
    <h3>Convention-Only Product Special</h3>
    <p>During Convention 2015, we’ll unveil a brand-new product—code named “Project Transform.” It will initially only be available at Convention 2015. Start making plans today to attend so you can purchase this highly anticipated product!</p>
  </div>
</section>