<footer class="footer">
  <div class="footer-logo">
    <%= image_tag("dreams.png") %>
  </div>
  <div class="footer-links">
    <ul class="left">
      <li><h3>Content</h3></li>
      <li><a href="#register">Register Now</a></li>
      <li><a href="#hotels">Hotels &amp; Travel</a></li>
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
    <ul>
      <li><p>&copy; 4Life Trademarks, LLC</p></li>
    </ul>
    <ul class="right">
      <li><h3>Follow Us</h3></li>
      <li><a href="http://www.4life.com">4life.com</a></li>
      <li><a href="http://www.facebook.com/4life">Facebook</a></li>
      <li><a href="http://twitter.com/4life">Twitter</a></li>
      <li><a href="http://www.youtube.com/4life">YouTube</a></li>
      <li><a href="https://plus.google.com/u/0/106025331849335411933/posts">Google</a></li>
    </ul>
  </div>
</footer>
