<header class="centered-navigation" id="header_nav">
  <div class="centered-navigation-wrapper">
    <a href="#top" class="mobile-logo">
      <%= image_tag("dreams.png") %>
    </a>
    <a href="" class="centered-navigation-menu-button"><span class="mega-octicon octicon-three-bars"></span></a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="#register">Register Now</a></li>
      <li class="nav-link"><a href="#hotels">Hotels &amp; Travel</a></li>
      <li class="nav-link"><a href="#agenda">Agenda</a></li>
      <li class="nav-link logo">
        <a href="#top" class="logo">
          <%= image_tag("dreams.png", id: "header_logo") %>
        </a>
      </li>
      <li class="nav-link"><a href="#events">Events</a></li>
      <li class="nav-link"><a href="#faq">FAQ</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">More</a>
        <ul class="submenu">
          <li><a href="#recognition">Recognition</a></li>
          <li><a href="#product">Convention Product</a></li>
          <li><a href="#service">Service</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>