<header class="centered-navigation" id="header_nav">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <%= image_tag("dreams.png") %>
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">Register Now</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Hotels &amp; Travel</a></li>
      <li class="nav-link logo">
        <a href="javascript:void(0)" class="logo">
          <%= image_tag("dreams.png", id: "header_logo") %>
        </a>
      </li>
      <li class="nav-link"><a href="javascript:void(0)">Agenda</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">More</a>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Recognition</a></li>
          <li><a href="javascript:void(0)">Parties</a></li>
          <li><a href="javascript:void(0)">Events</a></li>
          <li><a href="javascript:void(0)">Service</a></li>
          <li><a href="javascript:void(0)">Keynote Speaker</a></li>
          <li><a href="javascript:void(0)">FAQ</a></li>
          <li><a href="javascript:void(0)">Product</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>