<a href="#top" class="anchor" id="top"></a>
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>You work hard for your dreams.<br>
          You know what it takes to make them real.<br>
          Now, it’s time to… bring it!<br> 
      </h1>
      <h3>#bringit4life</h3>  
      <form action="#register" display="inline"><button>Register Now!</button></form>
      <span class="mega-octicon octicon-chevron-down animated tada" id="arrow"></span>
    </div>
  </div>
</div>
<%= video_tag("bringit9sec.mp4", loop: true, autoplay: true, class: "bringitvideo" ) %>
