<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>You work hard for your dreams.<br>
          You know what it takes to make them real.<br>
          Now, it’s time to… bring it!<br> 
      </h1>
      <h3>#bringit4life</h3>  
      <button>Register Now!</button>
    </div>
  </div>
</div>
<%= video_tag("bringit12sec.mp4", loop: true, autoplay: true, class: "bringitvideo" ) %>
