<section class="hotels">
  <div class="intro-text">
    <h2>Hotels</h2>
    <h4>4Life has secured great rates with several of the premier hotels in downtown Salt Lake City.  All hotels listed below are within comfortable walking distance of the Salt Palace Convention Center.</h4>
    <p>Make your hotel reservations October 22–March 10. All reservations must be made online or through 4Life Convention Services at 800–989–4008.</p>
    <p>When booking your hotel accommodations, you must provide a credit card number to guarantee payment. Your credit card will not be charged until checkout. There is a cancellation fee of $25.00 on or after March 11, 2015. 
    </p>
  </div>
</section>