<div class="sectionhead">
  <div id="slcimg"></div>
</div>
<section class="hotels">
<a href="#hotels" class="anchor" id="hotels"></a>
  <div class="intro-text">
    <h2>Hotels</h2>
    <h4>4Life has secured great rates with several of the premier hotels in downtown Salt Lake City.  All hotels listed below are within comfortable walking distance of the Salt Palace Convention Center.</h4>
    <p>Make your hotel reservations October 22–March 10. All reservations must be made online or through 4Life Convention Services at <a href="tel:800–989–4008">800–989–4008</a>.</p>
    <p>When booking your hotel accommodations, you must provide a credit card number to guarantee payment. Your credit card will not be charged until checkout. There is a cancellation fee of $25.00 on or after March 11, 2015. 
    </p>
  </div>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Salt Lake Marriott at City Creek </h2>
        <p>75 South West Temple<br>
          $149 USD—standard king room<br>
          $159 USD—standard double/double room<br>
        </p>
        </div>
    </li>  
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Hilton Salt Lake City Center</h2>
        <p>255 South West Temple<br>
            4441 Collins Avenue<br>
          $138 USD—standard room<br>
          $153/$168 USD—triple/quad
        </p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Radisson Hotel Salt Lake City</h2>
        <p>215 West South Temple<br>
          $129 USD—standard room<br>
          $139/$149 USD—triple/quad
        </p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Holiday Inn Express</h2>
        <p>206 South West Temple<br>
            Rate includes an “express start” breakfast bar.<br>
          $138 USD—standard room<br>
          $158 USD—triple/quad
        </p>
      </div>
    </li> 
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Salt Lake Plaza Hotel</h2>
        <p>122 West South Temple<br>
          $119 USD—standard room<br>
          $129 USD—triple/quad
        </p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-content">
        <h2>Details</h2>
        <p>All rates are based on single/double occupancy and subject to 12.6% tax. Availability is based on a first-come, first-served basis. Not all hotels offer airport shuttle service, so contact your hotel for this information.
        </p>
      </div>
    </li>
  </ul>
  <div class="intro-text">
    <h5>Travel, Airport, &amp; Parking</h5>
    <p>Salt Lake City is filled with life, culture, and excitement. <a href="http://visitsaltlake.com">Click Here</a> to check out fun activities to do during your convention weekend.</p><br>
    <p>Visit <a href="http://slcairport.com">The SLC Airport website</a> for any questions you might have about traveling to Salt Lake City, Utah.</p><br>
    <p>Please visit the <a href="http://visitsaltlake.com/salt-palace-convention-center/attend-meetings/parking"> Salt Palace Convention Center website</a> for information about parking.</p>
  </div>
</section>