<div class="sectionhead">
  <div id="recognitionimg"></div>
</div>
<section class="recognition">
  <div class="intro-text">
    <h2>Bring Dreams Home Recognition</h2>
    <h4>Recognition is key to your success and there is no better time than convention to recognize and celebrate your rank achievements.</h4>
    <p>Please read through the recognition schedule below to learn when specific rank achievements will be recognized during Convention 2015: Bring Dreams Home.</p>
  </div>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Date</th>
        <th>Time</th>
        <th>Session</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President's Club</td>
        <td>Thursday, April 16</td>
        <td>10:00 am–12:30 pm</td>
        <td>General Session I</td>
      </tr>
      <tr>
        <td>Diamond</td>
        <td>Friday, April 17</td>
        <td>10:00 am–12:00 pm</td>
        <td>General Session II</td>
      </tr>
      <tr>
        <td>Presidential Diamond</td>
        <td>Friday, April 17</td>
        <td>10:00 am–12:00 pm</td>
        <td>General Session II</td>
      </tr>
      <tr>
        <td>International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
      <tr>
        <td>Gold International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
      <tr>
        <td>Platinum International Diamond</td>
        <td>Friday, April 17</td>
        <td>6:00 pm–8:30 pm</td>
        <td>General Session III/ Recognition Gala</td>
      </tr>
    </tbody>
  </table>
</section>