<section class="register">
  <div class="intro-text">
    <h2>Register Today!</h2>
    <h4>Registration is open October 22, 2014–March 31, 2015</h4>
    <p>Register early to take advantage of special pricing! We’ve teamed up with a professional convention management company to make registering simple and easy, so make your plans today for Bring Dreams Home.</p>
  </div>
  <div class="grid-items">
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <h1>New for 2015 10 pack registration!—Save and share! </h1>
      <p>Purchase the 10-pack registration special and receive a code via email to share the savings with 9 others! Give registrations away at meetings or bring a friend for the first time.</p>
      <p>$2000 10 individual registrations<br>
        $1790 10-pack registration special <b>Save $210!</b>
      </p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Standard Presale</h1>
      <p>$239 + 3 raffle tickets</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Online Only</h1>
      <h6>Best Price!</h6>
      <p>$199 + 5 raffle tickets<br>Promo code: SLC14</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>On-Site After April 1, 2015</h1>
      <p>$269 + 1 raffle ticket</p>
    </a>
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <h1>VIP PC Registration</h1>
      <p>Current Platinum International Diamond and Gold International Diamond President’s Club members will receive complimentary registration. A registration code will be sent to you directly.</p>
    </a>
  </div>
  <div class="intro-text">
    <h3>More value for your money</h3>
    <h4>All registration packages include:</h4><br>
    <ul>
      <li>Entry into general sessions</li>
      <li>Keynote speaker address</li>
      <li>Entry into all parties and events</li>
      <li>Entry into 4Life Science Symposium, featuring Dr. Chris Lockwood and the HSAB</li>
      <li>Translation for all general sessions</li>
      <li>Registration kit</li>
      <li>And much more!</li>
    </ul>
  </div>
  <button>Register Now!</button>
</section>