<section class="register">
  <%= image_tag("dreams.png", class: "biglogo") %>
  <div class="intro-text">
    <h2>Register Today!</h2>
    <h4>Registration is open October 22, 2014–March 31, 2015</h4>
    <p>Register early to take advantage of special pricing! We’ve teamed up with a professional convention management company to make registering simple and easy, so make your plans today for Bring Dreams Home.</p>
  </div>
  <div class="grid-items">
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
      <h1>Standard Presale</h1>
      <p>$239 + 3 raffle tickets</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      <h1>Online Only</h1>
      <h6>Best Price!</h6>
      <p>$199 + 5 raffle tickets<br>Promo code: SLC14</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
      <h1>On-Site After April 1, 2015</h1>
      <p>$269 + 1 raffle ticket</p>
    </a>
</div>

</section>