<section class="service">
  <div class="intro-text">
    <h3>Help Us Make a Difference!</h3>
    <h4>Foundation 4Life<sup>®</sup></h4>
      <p>You might think that one dollar won't make a difference. But for a child in need, your dollar means a pencil and a notebook—the tools to learn how to write. Education provides hope.</p>
      <p>Add a donation to your convention registration and make a difference today!</p>
      <p>And visit foundation4life.org to see how your dollars support children all over the world.</p><br>

    <h4>4Life Fortify<sup>®</sup></h4>
      <p>A hot, nourishing meal can feed the belly... and the soul! Help us donate five million 4Life Fortify meals to needy children around the world by Convention 2015. Together, we can reach our goal!</p>

      <p>Visit <a href="http://4lifefortify.com">4lifefortify.com</a> to read about the real children that your efforts help support.</p>
  </div>
</section>