<section class="service">
<a href="#service" class="anchor" id="service"></a>
  <div class="intro-text">
    <h5>Help Us Make a Difference!</h5>
    <h4>Foundation 4Life<sup>®</sup></h4>
      <p>You might think that one dollar won't make a difference. But for a child in need, your dollar means a pencil and a notebook—the tools to learn how to write. Education provides hope.</p>
      <p>Add a donation to your convention registration and make a difference today!</p>
      <p>And visit foundation4life.org to see how your dollars support children all over the world.</p><br>

    <h4>4Life Fortify<sup>®</sup></h4>
      <p>A hot, nourishing meal can feed the belly... and the soul! Help us donate five million 4Life Fortify meals to needy children around the world by Convention 2015. Together, we can reach our goal!</p>

      <p>Visit <a href="http://4lifefortify.com">4lifefortify.com</a> to read about the real children that your efforts help support.</p>
  </div>

  <a href="#faq" class="anchor" id="faq"></a>
    <div class="intro-text">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="vertical-tabs-container">
      <div class="vertical-tabs">
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Q: What is the theme for convention?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Q: Where will the convention be held?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Q: When is the 4Life international convention?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">Q: Where do I stay if I am traveling to Salt Lake City?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">Q: What are my transportation options in Salt Lake City?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">Q: Where can I park for Bring Dreams Home?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab7">Q: What is the dress attire for general sessions and other events?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">Q: What is the climate like in Salt Lake City in April?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab9">Q: What type of clothing is suitable for this time of year?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab10">Q: What types of services will be available for people with disabilities?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab11">Q: How do I register?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab12">Q: Can I put more than one distributor name on a form?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab13">Q: What is included in my registration fee?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab14">Q: Who is handling 4Life’s convention services this year?</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab15">Q: If I have technical difficulties while registering online, whom can I contact?</a>
      </div>

      <div class="vertical-tab-content-container">
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab1">Q: What is the theme for convention?</a>
        <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
          <p>A: The theme for Convention 2015 is Bring Dreams Home. In order to achieve success and make your dreams come true, you have to “bring it” every day. We want to see your “bring it” photos! 
          Email a high-resolution photo* (at least 640 x 480 pixels, but larger is better) to bringdreamshome@4life.com. Finish the following sentence: "I bring it when ______." 
          Example: I bring it when I travel all over the country to host 4Life meetings. 
          </p>
          <p>Plus, use #bringit4life to tag your own photos on Facebook, Twitter, and Instagram!</p>
          <p><em>*Please submit original photos only. No copyrighted material will be accepted. 4Life is not responsible for determining if the photos infringe on copyright laws. Participants understand that 4Life may use, promote, and represent the material for development and commercial purposes.</em></p>
        </div>

        

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Q: Where will the convention be held?</a>
        <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Salt Palace Convention Center<br>
             90 South West Temple<br>
             Salt Lake City, UT 84101<br>
          </p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab3">Q: When is the 4Life international convention?</a>
        <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
          <p>A: April 15–18, 2015</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Q: Where do I stay if I am traveling to Salt Lake City?</a>
        <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
          <p>A: 4Life has negotiated discounted rates with several hotels in the area. Click here to view hotel information and make your reservation. (link to Accommodations page)</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">Q: What are my transportation options in Salt Lake City?</a>
        <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Please visit <a target="_blank" href="http://www.visitsaltlake.com/trip-planner/transportation/">The Salt Lake City Trip Planner</a> for rental car, taxi, shuttle, and public transportation options.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">Q: Where can I park for Bring Dreams Home?</a>
        <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Guests will be responsible to secure their own parking. Paid parking at the convention center is available (rates average between $10 USD–$15 USD). Paid parking is also available to guests staying at downtown hotels.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab7">Q: What is the dress attire for general sessions and other events?</a>
        <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Suggested attire for most of convention is business casual. The recognition gala is a formal event.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">Q: What is the climate like in Salt Lake City in April?</a>
        <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
          <p>A:  Springtime in Utah is usually pleasant, with daily highs in the 60s or 70s and lows in the 40s or 50s. </p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab9">Q: What type of clothing is suitable for this time of year?</a>
        <div id="tab9" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Bring a jacket with you and dress in layers during your stay in Salt Lake City.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab10">Q: What types of services will be available for people with disabilities?</a>
        <div id="tab10" class="js-vertical-tab-content vertical-tab-content">
          <p>A: In accordance with the American Disabilities Act, 4Life provides assistance to anyone in need of ADA services. If you require special assistance, please send an email request to info@4life.com or call convention services at <a tel="800–989–4008">800–989–4008</a>.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab11">Q: How do I register?</a>
        <div id="tab11" class="js-vertical-tab-content vertical-tab-content">
          <p>A: There are two different ways:
            Online...do it now! 
            (link)

            Call 4Life Convention Services (for registration and general questions) at <a tel="800–989–4008">800–989–4008</a>. If you are calling from outside the United States, dial 801–214–7274.
          </p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab12">Q: Can I put more than one distributor name on a form?</a>
        <div id="tab12" class="js-vertical-tab-content vertical-tab-content">
          <p>A: No, please use one form for each attending distributor.</p>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab13">Q: What is included in my registration fee?</a>
        <div id="tab13" class="js-vertical-tab-content vertical-tab-content">
          <p>A: All registration packages include:<br>
            Entry into all functions, including general sessions, keynote speaker address, parties, and events<br>
            Entry into the 4Life Science Symposium, featuring Dr. Chris Lockwood and the HSAB<br>
            Translation for all general sessions<br>
            Registration kit<br>
            And much more!<br>
            <em>* Does not include Home Office Tour</em>
          </p>
        </div>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab14">Q: Who is handling 4Life’s convention services this year?</a>
        <div id="tab14" class="js-vertical-tab-content vertical-tab-content">
          <p>A: 4Life has contracted with a professional group to help manage convention registration. The Housing Connection has helped us in years past and can answer any registration questions you have. (link to Housing Connection page)</p>
        </div>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab15">Q: If I have technical difficulties while registering online, whom can I contact?</a>
        <div id="tab15" class="js-vertical-tab-content vertical-tab-content">
          <p>A: Send an email to webmaster@4life.com.</p>
        </div>
      </div>
    </div>
  </div>
</section>