html,body {
  height: 100%;
  width: 100%;
}

body {
  @extend %intro-text;

  margin-top: 60px;

  .sectionhead {
    height: 45vh;
  }
  
  section {
    min-height: 30em;
    width: 100%;
    background-color: white;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }

  .bringitvideo {
    display:none;

    @include media($medium-screen) {
      position: fixed;
      right: 0;
      bottom: 0;
      opacity: .7;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      display: block;
      overflow: hidden;
      z-index: -100;
      background-size: cover;
    }
  }
}
