.hero {
  $hero-background-top: darken($base-accent-color, 25); 
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: white;
  $gradient-angle: 10deg;

  @include linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top);
  height: 100%;
  opacity: .7;
  top:0;

  .hero-inner {    
    @include outer-container;
    @include clearfix;
    padding: 3em;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      position: relative;
      top: 5%;
      @include transform(translateY(-95%));
      text-align: center;

      @include media($medium-screen) {
        top: 40em;
        @include transform(translateY(-25em));
      }

      button {
        @include button(simple, $logo-blue);
        margin-top: 2em;
        font-size: $base-font-size;
        outline: none;
        position: relative;
      }

      h1 {
        @include clearfix;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: .5em;

        @include media($medium-screen) {
          font-size: $h1-font-size;
        }
      }

      span {
        margin-top: 2em;
        @include animation-iteration-count(infinite);
        @include animation-duration(1.3s);
      }
    }
  }
}

